<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance page</title>
    </head>
    <body>
        <h1>Site is Under Maintenance</h1>
        <p>{{screamIt 'Maintenance Text'}}</p>
    </body>
</html>